html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background: white;
}
.game-canvas {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
